{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        {% block meta %}
        {% endblock meta %}
        <link rel="stylesheet" href="{% static 'template.css' %}">
        <title>Growtopia Shop Page</title>
    </head>

    <body>
        <div class="navbar">
            <ul class="navbar-option">
                <li>Main page</li>
                <li>Create product</li>
                <li>About</li>
            </ul>
        </div>
        {% block content %}
        {% endblock content %}
    </body>
</html>