{% load static %}
<!DOCTYPE html>
<lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Growtopia Shop Page</title>
</head>
<body>
    {% block content %}

    <div class="body">
        <h1>Growtopia Shop Page</h1>

        <h2>Owner:</h2>
        <p>{{Name}}</p>

        <h2>Class:</h2>
        <p>{{Amount}}</p>

        <h2>Student ID:</h2>
        <p>{{Description}}</p>

        <h2>Current data:</h2>
        <p>{{Message}}</p>

    <div class="card">
    <div class="card-body">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Add/Remove item</th>
                </tr>
            </thead>
            <tbody>
                {% for item in Items %}
                <div class="card w-50">
                    <div class="card-body">
                      <h5 class="card-title">{{item.name}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.description}}</td>
                        <td> 
                            <a href="{% url 'main:decrement_item' item.id %}"><button>-</button></a>
                            <a href="{% url 'main:delete_item' item.id %}"><button>Delete</button></a>
                            <a href="{% url 'main:increment_item' item.id %}"><button>+</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>


        <br />

        <a class="button-main" href="{% url 'main:create_product' %}"><button>Add New Product</button></a>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
        <a class="button-main" href="{% url 'main:logout' %}"><button>Logout</button></a>
    </div>
    
{% endblock content %}
</body>
</html>


